@import url(http://fonts.googleapis.com/css?family=Raleway:300);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

a:link,
a:visited {
	color: #0000AA;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #0000EE;
}
